/* Write your CSS here */
.main-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  height: 100vh;
}

button {
  padding: 15px;
  border-radius: 13px;
  border: none;
  background-color: #334155;
  color: white;
}
